services:
  - type: web
    name: che-comex
    env: node
    region: oregon
    plan: free
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: TURSO_DATABASE_URL
        value: libsql://checomex-jayelenvillalba-tech.aws-ap-south-1.turso.io
      - key: TURSO_AUTH_TOKEN
        sync: false
